@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.schedule {
  width: 80%;
  margin: auto;

  .schedule-head {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    color: #419873;
    font-weight: bold;
    text-align: center;
  }
  .tabs {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0rem;
    list-style: none;

    .tab-box {
      background: linear-gradient(
        90deg,
        rgba(160, 232, 197, 1) 0%,
        rgba(55, 207, 156, 1) 100%
      );
      padding: 5px 5px;
      border-radius: 10px;
      .active {
        background: linear-gradient(
          90deg,
          rgba(160, 232, 197, 1) 0%,
          rgba(55, 207, 156, 1) 100%
        ) !important;
        color: white !important;
      }
      .box {
        background-color: #e7fae9;
        padding: 5px 2vw;
        border-radius: 10px;
        font-size: 1.2em;
        font-weight: bold;
        color: #3ed19f;
      }
      .box:hover {
        background: linear-gradient(
          90deg,
          rgba(160, 232, 197, 1) 0%,
          rgba(55, 207, 156, 1) 100%
        );
        color: white;
      }
    }
  }
  @media (max-width: 992px) {
    width: 90%;
  }
}
