@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.schedule {
  padding-top: 0%;
  width: 80%;
  margin: auto;
  @media (max-width:992px){
    .first{
      width: 7rem;
      font-weight: bold;
    }
  }
  font-size: 1rem;
  .schedule-head {
    display: flex;
    color: #56c596;
    font-size: 2rem;
    font-weight: bold;
    line-height: 59px;
    font-style: normal;
    justify-content: center;
    font-family: 'Montserrat',sans-serif;
  }
}
.table tbody tr {
  text-align: center;
}
.table
td {
  border: 1px solid black;
}
