.swags {
  text-align: center;
  .heading {
    margin-top: 6rem;
    color: #419873;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 6vh;
  }
  .subtitle {
    margin-top: 1.5rem;
    color: #56c596;
    font-weight: bold;
    font-size: 2.9vh;
  }
  .bugtrons-img {
    margin: 3rem auto;
    img {
      width: 45%;
    }
  }
  .small {
    font-size: 1.8vh;
    max-width: 90%;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
  }
  @media (max-width: 992px) {
    .bugtrons-img {
      img {
        width: 80%;
      }
    }
  }
}

.swag-section {
  width: 80%;
  margin: auto;
  margin-top: 3rem;
  .line {
    position: relative;
    border-bottom: 2px solid rgba(55, 207, 156, 1);
    z-index: -1;
    top: 3vh;
    width: 100%;
  }
  .title {
    width: 40%;
    text-align: center;
    background: linear-gradient(
      90deg,
      rgba(55, 207, 156, 1) 0%,
      rgba(160, 232, 197, 1) 100%
    );
    color: white;
    font-size: 4vh;
    margin: auto;
    border-radius: 10px;
    font-weight: bold;
    z-index: 100;
  }
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  @media (max-width: 992px) {
    .title {
      width: 80%;
    }
  }
}
