@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.faq-head {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #419873;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.faq-section {
  padding-left: 10%;
  padding-right: 10%;
}
.faq-header {
  button:focus {
    box-shadow: none;
  }
}
.faq-individual {
  font-family: "Montserrat", sans-serif;
}

.accordion-button:not(.collapsed) {
  color: white;
}

.accordion-button {
  color: white;
  background: linear-gradient(
    92.26deg,
    rgba(25, 223, 128, 0.8) 13.03%,
    rgba(7, 196, 135, 0.8) 82.64%
  );
}
.accordion-body{
  background-color: #E6FBE9;
}