.Partners {
  padding-top: 3rem;
  .partner-head {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    color: #419873;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
  }
  .Streaming {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
    .Streaming-logo {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      width: 23rem;
      overflow: hidden;
      transition: all 0.5s ease;
    }
    .Streaming-logo:hover {
      transform: translate3D(0, -1px, 0) scale(1.1);

      transition: all 0.4s ease;
      cursor: pointer;
    }
  }
  .Upskill {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    .Upskill-logo {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
    }
    .Upskill-logo:hover {
      transform: translate3D(0, -1px, 0) scale(1.1);
      transition: all 0.4s ease;
      cursor: pointer;
    }
  }

  @media (max-width: 992px) {
    .partner-flex {
      display: block !important;
    }
  }
}
