.Organizer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin-top: 6rem;
  h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
  }
  .alignOrgs {
    text-align: center;
    img {
      width: 23rem;
      overflow: hidden; 
      transition: all .5s ease;
    }
    img:hover {
      transform: translate3D(0, -1px, 0) scale(1.1);
     
      transition: all 0.4s ease;
      cursor: pointer;
    }
  }

  .org {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
}

@media (max-width: 991px) {
  .Organizer {
    .alignOrgs {
      img {
        width: 80%;
      }
    }
  }
}
