.KnowAboutUsHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .Heading {
    color: #56c596;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
  }
  .des {
    color: #205072;
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .Logo {
    img {
      height: 6rem;
    }
  }
}
.first-heading{
  font-size: 1.3rem;
  padding-bottom: 3rem;
}
.second-heading{
  font-size: 1.3rem;
  padding-top: 2rem;
}
@media (max-width: 768px) {
  .KnowAboutUsHeading {
    .Logo {
      img {
        height: 4.5rem;
      }
    }
  }
}
