.conbanner{
    padding-top: 5rem;
    .ban-head{
        color: #419873;
        font-size: 2.5rem;
        font-weight: bold;
        font-style: normal;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 1rem;
    }
    .banner{
        width: 70%;
        margin: auto;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon{
        background-color: rgb(80, 78, 78);
        :hover{
            background-color: black;
        }
    }
    @media (max-width: 768px){
        .banner{
            width: 90%;
        }
    }
}