.janta {
  padding-top: 6.5rem;
  .alig {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  h1 {
    text-align: center;
  }
}
.team-head {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #419873;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}
.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: white;
  padding: 1rem 0.5rem 3rem 0.5rem;
  width: 17rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 8px 19px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 2rem;
  p {
    font-size: 1.3rem;
    font-weight: bold;
    padding-top: 0.9rem;
  }
  .bug-bord {
    background-image: url(../Champions/bugs/bugpng.png);
    z-index: 12;
    width: 13rem;
    height: 13rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    //margin-top: -7.3rem;
    display: hidden;
    img {
      width: 10rem;
      border-radius: 50%;
      object-fit: contain;
      height: 10rem;
      position: relative;
      top: 19%;
    }
  }
  .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(7, 196, 135, 0.8);
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  ul {
    align-items: center;
    text-align: center;
  }

  .social li {
    display: inline-block;
  }

  .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }

  .social li a:hover {
    color: rgba(7, 196, 135, 0.8);
    background-color: #f7f5ec;
  }
}
.member:hover .social {
  bottom: 0;
}
