.about {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  .about-head {
    display: flex;
    color: #419873;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 59px;
    font-style: normal;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
  .about-info {
    color: #205072;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
    font-family: "Montserrat", sans-serif;
    padding: 0rem 10rem;
    span {
      font-family: "Comfortaa", sans-serif;
    }
    @media (max-width: 992px) {
      padding: 1rem 1rem;
    }
  }
}
