.home {
  margin-bottom: 2rem;
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 11vh;
  margin-bottom: 11vh;
  .head {
    padding: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    .title {
      font-family: "Montserrat", sans-serif;
      font-size: 8vh;
      color: #419873;
      font-weight: bold;
    }
    .camp {
      display: flex;
      flex-direction: column;
      width: fit-content;
      .camptext {
        text-align: center;
        a {
          text-decoration: none;
          color: inherit;
          p:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .subtitle {
      font-family: "Comfortaa", sans-serif;
      font-size: 4.5vh;
      color: #205072;
      margin-bottom: 0.5rem;
    }
    .desc {
      font-family: "Montserrat", sans-serif;
      font-size: 1.2rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .buttons {
      margin-top: 3rem;
      .btn {
        // background: linear-gradient(
        //   90deg,
        //   rgba(160, 232, 197, 1) 0%,
        //   rgba(55, 207, 156, 1) 100%
        // );
        background: rgba(25, 223, 128, 0.8);
        // background: linear-gradient(90deg, rgba(67,240,155,1) 13%, rgba(51,206,155,1) 82%);
        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem;
        color: white;
        margin-left: 1vh;
        margin-right: 1vh;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border-radius: 10px;
        border: none;
      }
      .btn:hover {
        transform: scale(1.05);
      }
      @media (max-width: 992px) {
        justify-content: center;
      }
    }
    @media (max-width: 992px) {
      text-align: center;
      padding: 0rem;
      width: 100%;
      .title {
        margin-top: 1rem;
        font-size: 5.7vh;
        text-align: center;
      }
      .subtitle {
        margin-top: 1rem;
        font-size: 3.5vh;
      }
      .buttons {
        .btn {
          padding: 0.5rem 1rem;
          font-size: 1.1rem;
        }
      }
    }
  }
  @media (max-width: 992px) {
    flex-flow: column-reverse;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .home {
    .head {
      .camp {
        margin: auto;
      }
    }
  }
}
