.header {
  backdrop-filter: blur(10px);
  transition: all 0.5s;
  z-index: 997;
  padding: 0.5rem;
  background: linear-gradient(
    92.26deg,
    rgba(25, 223, 128, 0.8) 13.03%,
    rgba(7, 196, 135, 0.8) 82.64%
  );
  box-shadow: 0px 8px 19px rgba(0, 0, 0, 0.25);
}
.header.header-scrolled {
  background: #fff;
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}
.header .logo {
  line-height: 0;
}
.header .logo img {
  max-height: 60px;
  margin-right: 6px;
}
.header .logo span {
  font-size: 27px;

  letter-spacing: 1px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-family: "Montserrat Alternates", sans-serif;
  margin-top: 3px;
}

.navbar {
  padding: 0;
}
.navbar .navsh {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
  margin: 0.5rem;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #d4fe76;
}
.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #d4fe76;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #d4fe76;
}
.navbar .getstarted,
.navbar .getstarted:focus {
  background: #d4fe76;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}
.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #d4fe76;
}

.ham {
  display: none;
  color: #fff;
  background-color: transparent;
  border: none;
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
  color: #012970;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}
.navbar-mobile {
  display: none;
}
.showNavbar {
  display: none;
}
@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .header {
    display: flex;
    flex-direction: column;
    float: auto;
  }
  .ham {
    display: block;
    position: fixed;
    top: 1.5rem;
    right: 1rem;
  }
  .navbar {
    .view {
      display: none;
    }
  }

  .showNavbar {
    flex-direction: column;
  }
  .hide{
    display: none;
  }

  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 22, 61, 0.9);
    transition: 0.3s;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
}
