.SponsorLogo {
    width:440px;
    margin: 1rem;
    height: 144px;
    display: flex;
    border-radius: 30px;
    align-items: center;
    background-color: white;
    justify-content: center;
    box-shadow: 0 4px 30px rgba(25, 223, 128, 0.27);
}
@media (max-width:800px) {
    .SponsorLogo {
        width: 390px;
        height: 122px;
    }
    
}
