.SponsorLogo {
    width:16vw;
    margin: 1rem;
    height: 9vh;
    display: flex;
    border-radius: 30px;
    align-items: center;
    background-color: white;
    justify-content: center;
    box-shadow: 0 4px 30px rgba(25, 223, 128, 0.27);
}
@media (max-width:1020px) {
    .SponsorLogo {
        width: 28vw;
        height: 8vh;
    }
    
}
@media (max-width:700px) {
    .SponsorLogo {
        width: 43vw;
        height: 8vh;
    }
    
}
@media (max-width:500px) {
    .SponsorLogo {
        width: 50vw;
        height: 8vh;
    }
    
}
@media (max-width:400px) {
    .SponsorLogo {
        width: 62vw;
        height: 10vh;
    }
    
}
