.Sponsors {
    .Sponsors-big {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        align-items: center;
        justify-content: space-evenly;
        
        .diamond-class {
            display: flex;
            align-items: center;
            justify-content: center; 
            padding-bottom: 2rem; 
        }
        
        .gold-class {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 2rem;
        }
        
    }
    .Sponsors-big::before {
        top: 2.5rem;
        content: '';
        height: 0px;
        width: 100%;
        z-index: -10;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(25, 223, 128, 0.47);
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    }
   
    .Silver {
        .silver-class {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 2rem;
            padding-top: 4rem;
        }
        .silver-sponsors {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
        }
    }
    .silver-class::before {
        width: 80%;
        content: '';
        height: 0px;
        z-index: -10;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(25, 223, 128, 0.47);
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
        
    }
    .Bronze {
        .bronze-class {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 4rem;
            padding-bottom: 2rem;
        }
        .Bronze-sponsors {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;

        }
        .bronze-class::before {
            content: '';
            height: 0px;
            width: 80%;
            z-index: -10;
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            border: 1px solid rgba(25, 223, 128, 0.47);
            box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
           
        }
    }
}
@media (max-width:550px) {
    .Sponsors {
        
        .Sponsors-big {
            .diamond-class {
                position: relative;
            }
            .diamond-sponsors {
                padding-bottom: 4rem;
            }
            .diamond-class::after {
            content: '';
            height: 0px;
            z-index: -1;
            width: 95vw;
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            border: 1px solid rgba(25, 223, 128, 0.47);
            box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    
            }
            .gold-class {
                position: relative;
                padding-bottom: 2rem;
            }
            .gold-class::after {
            content: '';
            height: 0px;
            width: 95vw;
            z-index: -10;
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            border: 1px solid rgba(25, 223, 128, 0.47);
            box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    
            }
            
        }
        .Sponsors-big::before {
            display: none;
        }
        .Bronze {
            .bronze-class::before {
                width: 95vw;
            }
        }
        .Silver  {
            .silver-class::before {
                width: 95vw;
            }
        }


    }
    
}