.sponsorClass {
    width:20rem;
    height: 7rem;
    display: flex;
    border-radius: 30px;
    align-items: center;
    background-color: white;
    justify-content: center;
    box-shadow: 0px 4px 30px rgba(25, 223, 128, 0.27);
    h1 {
        font-size: 37px;
        font-weight: bold;
        line-height: 45px;
        font-style: normal;
        background-clip: text;
        font-family: Montserrat;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(45deg,#19DF80,#56C596);
    }
}
@media (max-width:768px) {
    .sponsorClass {
        width: 18rem;
        height: 6rem;
    }
    
}